/* Product */

.product {
    margin: 0 auto;
    padding: 8px;
}

/* Product Image */

.product__image {
    width: 100%;
    border-radius: 12px;
}

/* Product Title */

.product__title {
    margin: 32px 0 48px 16px;
}

/* Product Purchase */

.product__purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: calc(100% - 8px);
    height: 70px;
    padding: 12px;
    left: 4px;
    bottom: 4px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 -16px 16px 0 #00000030;
}

/* Product Price*/

.product__price {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}

/* Product Description */

.product__description {
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}