/* Product */

.product {
    margin: 0 auto;
    padding: 8px;
}

/* Product Detail */

.product__detail {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}

/* Product Content */

.product__content {
    flex: 1;
    min-width: 0;
}

/* Product Image */

.product__image-container {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.product__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: fill;
    border-radius: 12px;
}

.product__next-btn,
.product__prev-btn {
    flex-shrink: 0;

    padding: 16px;

    font-size: 16px;

    border: none;
    border-radius: 50%;

    background: var(--color-hover);

    cursor: pointer;
}

/* Product Title */

.product__title {
    margin: 32px 0 48px 16px;
}

/* Product Purchase */

.product__purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: calc(100% - 8px);
    height: 70px;
    padding: 12px;

    position: sticky;
    left: 4px;
    bottom: 4px;

    border: 1px solid var(--color-light-gray);
    border-radius: 8px;

    background: var(--color-surface);
    box-shadow: 0 -4px 8px 0 #00000030;
}

/* Product Price */

.product__price {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}

/* Product Description */

.product__description {
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Product Meta */

.product__meta {
    margin-top: 8px;
    padding: 4px;

    background: var(--color-hover);
    border-radius: 8px;

    font-size: small;
}