{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/authentication.css' %}">
{% endblock extra_css %}

{% block title %}Set New Password{% endblock title %}

{% block content %}
    <main class="auth">
        <form method="post" class="auth__form">
            {% csrf_token %}
            {{ form.as_p }}
    
            <button type="submit" class="auth__button">Set New Password</button>
        </form>
    </main>
{% endblock content %}