{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/authentication.css' %}">
{% endblock extra_css %}

{% block title %}Register{% endblock title %}

{% block content %}
    <main class="auth">
        <form action="{% url 'register' %}" method="post" class="auth__form">
            {% csrf_token %}
            
            <div class="auth__fields">
                {% for field in form %}
                    <div class="auth__field">
                        {{ field.label_tag }}
                        {{ field }}

                        {% if field.help_text %}
                            <div class="auth__help">
                                {{ field.help_text }}
                            </div>
                        {% endif %}

                        {% if field.errors %}
                            <div class="auth__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="auth__button">Register</button>
        </form>
    </main>
{% endblock content %}