{% extends "base.html" %}

{% block title %}Addresses{% endblock title %}

{% block content %}
    <main>
        <div>
            {% for address in addresses %}
                <article>
                    <h2>{{ address.title }}</h2>
                    <p>{{ address.recipient_name }}</p>
                    <p>{{ address.address }}</p>
                    <p>Postal Code:{{ address.postal_code }}</p>

                    <form action="{% url 'users:delete-address' address.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            Delete
                        </button>
                    </form>
                </article>
            {% empty %}
                <p>You don't have any addresses yet.</p>
            {% endfor %}
            <div>
                <a href="{% url 'users:add-address' %}">
                    <button>
                        Add Address
                    </button>
                </a>
            </div>
        </div>
    </main>
{% endblock content %}