/* Filter Sidebar */

.filter-sidebar {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 90px;
    align-self: start;
}

/* Filter Sidebar Section */

.filter-sidebar__section:nth-of-type(1),
.filter-sidebar__section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.filter-sidebar__section:nth-of-type(3) {
    margin-bottom: 12px;
}

/* Filter Sidebar Price */

.filter-sidebar__price input {
    padding: 8px;
    margin-top: 8px;

    border: 1px solid var(--color-gray-border);
    border-radius: 8px;
}

/* Filter Sidebar Sort by */

.filter-sidebar__section:nth-of-type(3) select {
    padding: 8px;

    border: 1px solid var(--color-gray-border);
    border-radius: 8px;
}

.filter-sidebar__section:nth-of-type(3) select:hover {
    background: var(--color-hover);
}

.filter-sidebar__section:nth-of-type(3) select option {
    background: var(--color-surface);
}

/* Filter Sidebar Actions */

.filter-sidebar__actions {
    display: flex;
    gap: 8px;
}

.filter-sidebar__actions button {
    flex: 1;

    padding: 8px;

    border: 1px solid var(--color-gray-border);
    border-radius: 8px;

    transition: transform 0.3s ease;

    cursor: pointer;
}

.filter-sidebar__actions button:hover {
    transform: translateY(-2px);
}

.filter-sidebar__actions button:first-child {
    background: var(--color-primary);
    color: var(--color-surface);
}

.filter-sidebar__actions button:last-child {
    background: var(--color-danger);
    color: var(--color-surface);
}

.filter-sidebar__actions button:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

/* Filter Sidebar Input, Select */

.filter-sidebar input:focus-visible,
.filter-sidebar select:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}