<div class="action-button">
    {% if item.quantity == 0 %}
        <!-- Add to cart -->
        <form action="{% url 'cart:add' item.product.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <button type="submit">Add to cart</button>
        </form>
    {% else %}
        <div class="actions">
            <!-- Remove item -->
            <form
                action="{% url 'cart:remove' item.id %}"
                method="post"
                class="remove"
            >
                {% csrf_token %}
                <button type="submit" aria-label="Remove item">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17"
                        height="17"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M3 6h18"></path>
                        <path d="M8 6V4h8v2"></path>
                        <path d="M19 6l-1 14H6L5 6"></path>
                        <path d="M10 11v5"></path>
                        <path d="M14 11v5"></path>
                    </svg>
                </button>
            </form>

            <!-- Decrease quantity -->
            <form
                method="post"
                action="{% url 'cart:decrease' item.product.id %}"
                class="decrease"
            >
                {% csrf_token %}
                <button type="submit">-</button>
            </form>

            <!-- Quantity -->
            <span class="quantity">
                {{ item.quantity }}
            </span>

            <!-- Increase quantity -->
            <form
                action="{% url 'cart:add' item.product.id %}"
                method="post"
                class="increase"
            >
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit">+</button>
            </form>
        </div>
    {% endif %}
</div>