<a href="{% url 'products:product-detail' product.slug %}" class="product-card__link">
    <article class="product-card">
        {% with image=product.images.first %} {% if image %}
        <img
            src="{{ image.image.url }}"
            alt="{{ product.title }}"
            class="product-card__image"
        />
        {% endif %} {% endwith %}

        <div class="product-card__detail">
            <h2>{{ product.title }}</h2>

            <small class="product-card__price">{{ product.price }}$</small>
        </div>

        <div class="product-card__meta">
            <span class="product-card__category">
                {{ product.category.name }}
            </span>
        </div>
    </article>
</a>
