/* Auth */

.auth {
    margin-bottom: 32px;
}

/* Auth Title */

.auth__title {
    text-align: center;
    margin-bottom: 40px;
}

/* Form Field */

.auth__fields {
    align-items: center;
}

.auth__field {
    width: 80%;
}

.auth__field label {
    margin-bottom: 6px;
    font-weight: 500;
}

/* Help Text */

.auth__help {
    margin-top: 6px;
    color: var(--color-muted);
    font-size: 14px;
    line-height: 1.5;
}