<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
    </head>
    <body>
        <main>
            <h1>Products</h1>

            {% for product in products %}
            <article>
                
                {% with image=product.images.first %}
                    {% if image %}
                        <img src="{{ image.image.url }}" alt="{{ product.title }}">
                    {% endif %}
                {% endwith %}
                    
                <h2>
                    <a href="#"> {{ product.title }} </a>
                </h2>

                <small>{{ product.price }}$</small>
            </article>
            {% endfor %}
        </main>
    </body>
</html>
