{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product Detail</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/product-detail.css' %}" />
    </head>
    <body>
        <main>
            <article class="product">
                {% with image=product.images.first %} {% if image %}
                <img
                    src="{{ image.image.url }}"
                    alt="{{ product.title }}"
                    class="product__image"
                />
                {% endif %} {% endwith %}
                <h2 class="product__title">{{ product.title }}</h2>
                <small class="product__price">{{ product.price }}$</small>
            </article>
        </main>
    </body>
</html>
