{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product-detail.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <article class="product">
        {% with image=product.images.first %} {% if image %}
        <img
            src="{{ image.image.url }}"
            alt="{{ product.title }}"
            class="product__image"
        />
        {% endif %} {% endwith %}
        <h2 class="product__title">{{ product.title }}</h2>
        <div class="product__purchase">
            <span class="product__price">{{ product.price }}$</span>
        </div>
        <p class="product__description">{{ product.description }}</p>
    </article>
</main>

{% endblock content %}
