{% extends "base.html" %} 
{% load static %} 

{% block content %}
<main>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }} {{ formset.management_form }}

        <div id="image-forms">
            {% for image_form in formset %}
            <div class="image-form" {% if not forloop.first %}hidden{% endif %}>
                {{ image_form.image }}

                <button type="button" class="delete-image">Delete</button>
            </div>
            {% endfor %}
        </div>

        <button type="submit">Create Product</button>
    </form>
</main>
{% endblock content %} 


{% block javascript %}
<script src="{% static 'products/js/product_create.js' %}"></script>
{% endblock javascript %}
