{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product-list.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="search-container">
    {% include 'components/search-bar.html' %}
</div>
<main class="product-list">
    <h1 class="product-list__title">Products</h1>

    <div class="product-list__layout">

        <div class="product-list__grid">
            {% if products %}
                {% for product in products %}
                    {% include 'components/product-card.html' with product=product %}
                {% endfor %}
            {% else %}
                <p>No products found for "{{ query }}".</p>
            {% endif %}
        </div>

        {% include 'components/filter-sidebar.html' %}

    </div>
</main>
{% endblock content %}